<!DOCTYPE HTML>

<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/header :: common_header(~{::title})">
    <title>Posts</title>
</head>

<body>
<div th:replace="fragments/menu :: nav"></div>

<div class="container main">
    <h2 class="text-center">Posts</h2>
    <div class="card-columns">
        <div th:each="post : ${posts}" class="card">
            <img class="card-img-top" th:src="${(post.image != null && !#strings.isEmpty(post.image)) ? post.image : '/img/default.png'}" alt="post image"/>
            <div class="card-body">
                <h5 class="card-title" th:text="${post.title}"></h5>
                <p class="card-text" th:text="${post.description}"></p>
                <p class="card-text">
                <div class="card-bottom">
                    <small class="text-muted" th:text="${#temporals.format(post.whenAdd, 'dd-MM-yyyy HH:mm')}"></small>
                    <small class="text-muted" th:text="${post.author.firstName} + ' ' + ${post.author.lastName}"></small>
                </div>
                </p>
            </div>
        </div>
    </div>

    <!-- pagination -->
    <nav aria-label="Pagination" th:if="${posts.totalPages gt 0}" id="pag">
        <ul class="pagination justify-content-center font-weight-bold">
            <li class="page-item" th:classappend="${posts.number eq 0} ? 'disabled'">
                <a class="page-link"
                   th:href="@{?page={id}(id=${posts.number lt 2 ? 1 : posts.number})}"
                   aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${i eq posts.number + 1} ? 'active'"
                th:each="i : ${#numbers.sequence( 1, posts.totalPages, 1)}">
                <a class="page-link" th:href="@{?page={id}(id=${i})}" th:text="${i}"
                   th:title="${'Page '+ i}" data-toggle="tooltip"></a>
            </li>
            <li class="page-item" th:classappend="${posts.number + 1 eq posts.totalPages} ? 'disabled'">
                <a class="page-link"
                   th:href="@{?page={id}(id=${posts.number + 2})}"
                   aria-label="Next" title="Next Page" data-toggle="tooltip">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>